# Byte-code and Dependencies
vendor/
node_modules/
.gradle/
build/

# OS and IDE files
.DS_Store
.idea/
.vscode/
*.iml
*.log

# Environment and Secrets
.env
.env.local
local.properties
*.jks
*.keystore
google-services.json

# Android/Build output
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.hprof

# Tailwind/CSS Output
css/tailwind.css
