.container-short {
    max-width: 1000px;
    justify-self: anchor-center;
}

.container-header {
    display: flex;
    background: white;
    padding: 10px;
    align-items: center;
}

.container-header-bg {
    display: flex;
    background: #dcdcdc;
    border-radius: 18px;
    padding: 10px;
    align-items: center;
}

.container-left {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

.perfil-vertical {
    transform: rotate(-90deg);
    transform-origin: center;
    font-weight: bold;
    color: black;
    font-size: 30px;
    white-space: nowrap;
    margin-left: -20px;
    position: absolute;
}

.divider {
    height: stretch;
    width: 1px;
    background: black;
    position: absolute;
    left: 50px;
}

b {
    margin-right: 7px;
}

.img-logo {
    height: 130px;
    margin-left: 80px;
}

.container-body {
    flex: 1;
    padding-left: 15px;
}

.row-line {
    display: flex;
    gap: 90px;
    margin-bottom: 6px;
    align-items: center;
    color: black;

}

.container-row-bg {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.label {
    color: black;
    font-weight: bolder;
    white-space: nowrap;
}

.field {
    border: none;
    border-radius: 10px !important;
    height: 30px !important;
    /*padding: 0 10px;*/
    width: 100%;
    color: black;
}


.container-panel {
    font-family: "Ronnia Regular", sans-serif;
    color: black;
}


.main-body {
    background-color: white !important;
}

p {
    font-family: "Ronnia Regular", sans-serif !important;
    font-size: 20px !important;
}

span {
    font-family: "Ronnia Regular", sans-serif !important;
}


h1 {
    font-family: "Ronnia Regular", sans-serif !important;
    font-weight: bold;
}

input {
    font-family: "Ronnia Regular", sans-serif !important;
}


.container {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

input {
    border-radius: 15px !important;
    height: 35px !important;
}

.txt-force-black {
    color: black;
}

.card {
    border-radius: 0px;
    box-shadow: none;
    border: 0px solid #b3b3b3;
    background: white !important;
}


.report-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.title {
    text-align: left;
    font-size: 18px;
    padding-bottom: 10px;
}

.th-box {
    border: 2px solid black;
    text-align: center;
    height: 23px;
    font-weight: bold;
    padding: 0px;
}

.th-box-left {
    width: 546px;
    position: absolute;
    height: 25px;
    border: 2px solid black;
    margin-left: -61px;
    text-align: center;
    font-weight: bold;
    margin-top: -1px;
    z-index: 1;
}

.label-table {
    padding: 4px 6px;
}

.code {
    width: 50px;
    text-align: right;
    font-weight: bold;
    color: black;
}

.num {
    width: 60px;
    text-align: center;
}

.line-left {
    border-left: 2px solid #5e69aa;
}

.divider-row td {
    border-bottom: 1.3px solid #5e69aa;
    padding-bottom: 6px;
}

tbody tr td {
    padding: 3px 6px;
}

.title-doc {
    color: black;
    font-size: 20px !important;
    font-weight: bold !important;
}