.main-body{
    background-color: white !important;
}

.td_name{
    padding:0px 0px 0px 0px !important;
    border-top:none !important;
    border-top: none !important;
    color: black !important;
    line-height: 1.74 !important;
}
.td_name_masr2{
    padding:0px 0px 0px 0px !important;
    border-top:none !important;
    border-top: none !important;
    color: #c51403 !important;
    line-height: 1.74 !important;
    font-weight: bold;
}
.td_fill{
    padding:0px 0px 0px 0px !important;
    border-top:none !important;
    text-align: left !important;
    font-family: "Ronnia Regular", sans-serif !important;
}
.td_fill-masr2{
    padding:0px 0px 0px 0px !important;
    border-top:none !important;
    text-align: left !important;
    font-family: "Ronnia Regular", sans-serif !important;
    place-content: center;
}

.td_valuepd{
    padding:0px 0px 0px 10px !important;
    border-top:none !important;
    border-right: inset !important;
    border-color: white !important;
    justify-items: center;
}
.td_valuetb{
    padding:0px 0px 0px 10px !important;
    border-top:none !important;
    justify-items: center;
}
.tr_fill{
    background-color: white !important;
}
.card-setting{
    border-radius:0px !important;
    border: 0px solid transparent !important;
    box-shadow: none !important;
}

p{
    font-family: "Ronnia Regular", sans-serif !important;
    font-size: 20px !important;
}
.title{
    font-family: "Ronnia Regular", sans-serif !important;
    font-size: 20px !important;
    font-weight: bold !important;
}
span{
    font-family: "Ronnia Regular", sans-serif !important;
}
h4{
    font-family: "Ronnia Regular", sans-serif !important;
    font-weight: bold !important;
    font-size:20px !important;
}
h1{
    font-family: "Ronnia Regular", sans-serif !important;
    font-weight: bold;
}
input{
    font-family: "Ronnia Regular", sans-serif !important;
}
.borde{
    padding: 1px 2px;
    border: 1px solid #a4a4a4;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin: 1px;
    text-align: center;
    width: 50px;
    height: auto;
}
.borde-masr2{
    padding: 1px 12px;
    border: 2px solid #336699;
    border-radius: 12px;
    min-width: 60px;
    background-color: white;
    color: black;
    margin: 1px;
    text-align: center;
    height: auto;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.img-container {
    display: flex;
    justify-content: space-between; /* Perfil a la izquierda, logo a la derecha */
    align-items: center; /* Centra verticalmente */
    align-content: center;
}
.img-logo{
    height: 150px;
    width: auto;
}

.setting-input{
    background-color: transparent;
    border: 1px solid transparent;
    font-weight: bold !important; 
    padding-right: 3px !important;
    color:black !important;
}
.color-red{
    color:#d10f0f !important;
}
.container{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
input{
    border-radius: 15px !important;
    height: 35px !important;
}
/*style lsb5*/

.card-lsb5{
    border: 0px solid transparent !important;
    box-shadow: none !important;
    background-color: #dcdcdc !important;
}
.borde-lsb5{
    padding: 1px 2px;
    border: 2px solid #0162e8;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
    width: 100%;
    height: 24px;
}
.borde-scl90{
    padding: 1px 2px;
    border: 2px solid #0162e8;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
    width: 100%;
    height: 24px;
}
.borde-text{
    padding: 1px 2px;
    border: 1px solid #377da7;
    border-radius: 10px;
    background-color: #204963;
    color: white;
    margin: 1px;
    text-align: center;
    width: 100%;
    height: auto;
}

.td_valuepd2{
    padding:0px 0px 0px 10px !important;
    border-top:none !important;
    border-right: none !important;
    border-color: white !important;
    justify-items: center;
    width: 50px;
}
.width-move{
    display: inline-block;
    width: 80px;
    margin-left: 10px;
    color:#0162e8;
    font-weight: bold;
    font-family: "Ronnia Regular", sans-serif !important;
}
.width-move1{
    display: inline-block;
    width: 80px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:#0162e8;
    font-weight: bold;
    font-family: "Ronnia Regular", sans-serif !important;
}

/* settings af5*/
.card-af5{
    border: 0px solid transparent !important;
    box-shadow: none !important;
    background-color: #edefed !important;
}
/*setting maci*/
.card-maci{
    border: 0px solid transparent !important;
    box-shadow: none !important;
    background-color: #d7d9ea !important;
}
.margen-parent{
    margin-left: 11rem;
    margin-right: 11rem;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .col-md-9 {
    margin-top: 100px;
  }
}

@media (max-width: 575.98px) {
  .img-container {
    padding-top: 50px;
    justify-content: center;
    padding-bottom: 10px;
  }
  .margen-parent{
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

.content-4{
    position: absolute;
    display: flex;
    padding-left: 10px;
    width: 100%;
    top: 1px;
}
.content-green{
    background: #c0d7ea;
}
.content-orange{
    background: #4fab8a;
}
.content-yellow{
    background: #eed7a4;
}
.content-grave{
    background: #faf4e6;
}
.content-txt{
    margin: 0px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 11px !important;
    color: black;
}

.txt-force-black{
    color: black;
}