@import "tailwindcss";

@theme {
  --color-lavender: #d9d4ff;
  --color-coral: #ffc9c6;
  --color-mint: #c6f4e1;
  --color-cream: #ffebbb;
  --color-plomo-200: #3b3b3b61;
}
button{
    cursor: pointer;
}